{% load nav_active %}

<header>
    <nav class="navbar bg-primary navbar-expand-lg" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'films:films_home' %}">Главная</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Переключить навигацию">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link {% active 'films:films_home' %}" href="{% url 'films:films_home' %}">Фильмы</a>
                    <a class="nav-link {% active 'films:movie_review' %}" href="{% url 'films:movie_review' %}">Добавить Рецензию</a>
                </div>
            </div>
        </div>
    </nav>
</header>
